body, h2, h4, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: black;
    color: white;
}

#intro {
    padding: 20px;
}

.intro-items {
    color: white;
}

#intro-jobRole {
    line-height: 1.2em;
}

#intro-jobRole:before {
    position: absolute;
    top: 5.2em;
    height: 0;
    width: 175px;
    content: '';
    border-top: 1px solid rgb(255, 255, 255);
}

#contact {
    background-color: white;
    color: black;
    padding: 20px;
}

#contact h4 {
    margin-bottom: 10px;
}

.section {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
}

.section h4 {
    margin-bottom: 10px;
}

.section ul {
    list-style-type: disc;
    padding-left: 20px;
}

.section ul li {
    margin-bottom: 5px;
}